<div class="large-12 columns vimeo-player"
    {% if work.images[0].path and work.portfolioType != 'motion' %}
        style="background-image: url('/uploads/portfolio/{{ work.images[0].path }}');"
    {% endif %}>
    {% if work.portfolioType == 'motion' %}
        <iframe src="//player.vimeo.com/video/{{ work.getIdVideoLinkHeader }}" width="100%" height="100%" frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}
</div>
<p class="large-12 columns description">
    {{ work.portfolioType }}<br /><span>{{ work.description }}</span>
</p>