<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Laure Portfolio{% endblock %}</title>
        {% stylesheets
            'bundles/portfoliolaure/css/foundation/normalize.css'
            'bundles/portfoliolaure/css/foundation/foundation.css'
            filter="cssrewrite" %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        {% block stylesheets %}
                {% stylesheets
                    'bundles/portfoliolaure/css/style.sass'
                    filter="cssrewrite,sass" output='css/style.css' %}
                    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
                {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div id="nav" class="row">
                <ul class="logo medium-3 columns">
                    <li><a href="#homepage">LAURE M. JOY</a></li>
                </ul>
                <ul class="nav medium-5 columns">
                    <li><a href="#portfolio">PORTFOLIO</a></li>
                    <li><a href="#illustration">ILLUSTRATIONS</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#homepage">CONTACT</a></li>
                </ul>
            </div>
        </header>
        {% block body %}{% endblock %}
        {% javascripts
            'bundles/portfoliolaure/js/jquery/jquery.js'
            'bundles/portfoliolaure/js/jquery/jquery.smooth-scroll.min.js'
            'bundles/portfoliolaure/js/portfolio.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
