<div class="row">
    <h2>ABOUT</h2>
    <p>{{ aboutIntro.text|nl2br }}</p>
    {% if aboutFeelings is not empty %}
        <div class="circle-content">
            {% for aboutFeeling in aboutFeelings %}
                <div class="circle"
                     style="border: 10px solid {{ aboutFeeling.color }};">
                    <div class="flex">
                        <p>{{ aboutFeeling.percentage }}%<br />
                            <span>{{ aboutFeeling.name|capitalize }}</span></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>