<div class="row">
    <h2>ABOUT</h2>
    <p>Souriante, efficace, créative et dynamique,<br />
        je saurais vous accompagner sur des projets allant du print au web design<br />
        en passant par l'illustration et le motion design.<br />
        À l'écoute et disponible, nous monterons ensemble le projet que vous attendiez.
    </p>
    <div class="circle-content">
        <div class="circle cheerful">
            <div class="flex"><p>100%<br /><span>Cheerful</span></p></div>
        </div>
        <div class="circle efficient">
            <div class="flex"><p>100%<br /><span>Efficient</span></p></div>
        </div>
        <div class="circle creative">
            <div class="flex"><p>100%<br /><span>Creative</span></p></div>
        </div>
        <div class="circle available">
            <div class="flex"><p>100%<br /><span>Available</span></p></div>
        </div>
    </div>
</div>