.arrow-down, .arrow-left, .arrow-right, .contact-mail, .contact-name, .contact-text, .upload-cv
  background: url(/bundles/portfoliolaure/images/sprites/sprites.png) no-repeat
  display: block

.arrow-down
  background-position: -250px -48px
  width: 50px
  height: 50px

.arrow-left
  background-position: -152px -50px
  width: 50px
  height: 50px

.arrow-right
  background-position: -50px -49px
  width: 50px
  height: 50px

.contact-mail
  background-position: -659px -65px
  width: 32px
  height: 24px

.contact-name
  background-position: -560px -64px
  width: 26px
  height: 24px

.contact-text
  background-position: -460px -60px
  width: 31px
  height: 31px

.upload-cv
  background-position: -361px -58px
  width: 27px
  height: 33px