@import foundation/normalize
@import foundation/foundation
@import variable

header
  width: 100%
  position: fixed
  height: 80px
  background-color: $black
  color: $white
  z-index: 999
  ul
    list-style-type: none
    display: inline-block
    vertical-align: top
    margin: 0
    &.columns
      padding: 0
    li
      width: auto
      display: inline-block
      line-height: 80px
    &.logo
      li
        font-size: 28px
    &.nav
      li
        padding:
          left: 6px
          right: 6px

.homepage
  background-image: url('../images/background-homepage.png')
  background-size: cover
  background-position: center center
  text-align: center
  color: $lightBlack
  font-size: 18px
  text-transform: uppercase
  display: flex
  display: -webkit-flex
  flex-direction: column
  -webkit-flex-direction: column
  justify-content: center
  -webkit-justify-content: center
  align-items: center
  -webkit-align-items: center
  img:first-child
    margin:
      top: 100px
      bottom: 40px
  p
    margin:
      bottom: 80px

.portfolio
  background-color: $darkWhite
  ul
    li
      position: relative
      img
        width: 100%
      div
        position: absolute
        width: 96.1%
        height: auto
        bottom: 20px
        padding: 10px
        p
          margin: 0
          color: #ffffff
          font-size: 24px
        &.information
          background-color: $white
          p
            color: $darkGrey
            &:first-child
              font-size: 16px
            &:last-child
              font-size: 12px

.illustration
  background-color: $lightWhite
  .row
    div
      border-radius: 5px
      &.large-6
        position: relative
        div
          position: absolute
          bottom: 0
          padding: 10px
          color: $lightBlack
          h3
            color: $lightBlack
          p
            font-size: 24px
      &.last
        margin:
          top: 40px
    .information
      padding: 10px
      background-color: $white
      p
        color: $darkGrey
        &:first-child
          font-size: 16px
        &:last-child
          font-size: 12px

.about
  background-color: $darkWhite
