@import futurama-font

$fa-font-path: "/bundles/portfoliolaure/fonts/fontawesome" !default

@import fontawesome/font-awesome

/** colors **/
$black: #2c2f36
$lightBlack: #363842
$darkBlack: #545454
$white: #ffffff
$lightWhite: #fbfbfb
$darkWhite: #f5f5f5
$red: #fd685b
$lightGrey: #999999
$otherLightGrey: #666666
$grey: #cccccc
$darkGrey: #333333
$green: #34cf75
$blue: #35afba
$greyBackground: #e1e1e1

/** size **/
$headerHeigth: 60px
$carouselWidth: 700px

=futura($weight)
  @if $weight == medium
    font-family: 'futura'

.rowMarginLess
  &:after
    display: block
    content: ''
    clear: both

h2
  font-size: 16px
  color: $lightBlack
  text-align: center
  +futura(medium)
  padding:
    bottom: 40px

.content
  width: 100%
  min-height: 100%
  padding:
    top: 80px
  div.more
    text-align: center

h3
  font-size: 14px
  color: #ffffff

h4
  font-size: 12px
  color: $lightGrey

.more
  padding:
    top: 50px
    bottom: 50px
.more-button
  font-size: 16px
  color: $red
  border: 2px solid $red
  padding: 10px
  border-radius: 5px
  &:hover
    color: #fff
    border: 2px solid #fff
    background-color: $red

.border
  border: 1px solid $red !important

.flex
  display: flex
  display: -webkit-flex
  flex-direction: column
  -webkit-flex-direction: column
  justify-content: center
  -webkit-justify-content: center
  align-items: center
  -webkit-align-items: center

.cover-close
  overflow: hidden
