<div class="row">
    <h2>PORTFOLIO</h2>
    <ul class="small-block-grid-2">
        {% for i in 1..4 %}
            <li>
                <img src="{{ asset('bundles/portfoliolaure/images/test/test.png') }}" alt="test" />
                {% if i%2 == 0 %}
                    <div class="information">
                        <h4>VIDEO</h4>
                        <p>Impulse Sound System</p>
                        <p>A video for the exhibition “SAY WATT ? Le culte du Sound System” at La Gaité Lyrique,
                            Paris - 2nd July to 25th August 2013</p>
                    </div>
                {% else %}
                    <div>
                        <h3>EDITION</h3>
                        <p>Rencontres - Livre photographique</p>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="more">
        <a href="#" class="more-button">VIEW MORE PROJECTS</a>
    </div>
</div>