{% include('PortfolioLaureBundle:Partial:portfolio.info.html.twig') %}
<div class="image-content {{ work.portfolioType }} row">
    <div class="large-12 columns portofolio-image-content">
        <div class="large-6 columns image">
            {% include 'PortfolioLaureBundle:Partial:portfolio.image.html.twig'
                with { 'image': work.images[1].path } %}
        </div>
        <div class="large-3 columns image">
            {% include 'PortfolioLaureBundle:Partial:portfolio.image.html.twig'
                with { 'image': work.images[2].path } %}
        </div>
        <div class="large-3 columns image"></div>
    </div>
    <div class="large-12 columns portofolio-image-content">
        <div class="large-3 columns image"></div>
        <div class="large-3 columns image">
            {% include 'PortfolioLaureBundle:Partial:portfolio.image.html.twig'
                with { 'image': work.images[3].path } %}
        </div>
        <div class="large-6 columns second-image">
            {% include 'PortfolioLaureBundle:Partial:portfolio.image.html.twig'
                with { 'image': work.images[4].path } %}
        </div>
    </div>
    <div class="large-12 columns portofolio-image-content">
        <div class="large-6 large-offset-3 image columns">
            {% include 'PortfolioLaureBundle:Partial:portfolio.image.html.twig'
                with { 'image': work.images[5].path } %}
        </div>
        <div class="large-3 columns image">
            {% include 'PortfolioLaureBundle:Partial:portfolio.image.html.twig'
                with { 'image': work.images[6].path } %}
        </div>
    </div>
</div>