{% extends '::baseAdmin.html.twig' %}

{% block content %}
    <h4>Edition de : {{ entity.company }}</h4>
    {{ form(edit_form) }}
    <a href="{{ path('workexperience') }}">Back to the list</a>
    {{ form(delete_form) }}
{% endblock %}