<div class="row">
    <div class="medium-6 column">
        <h3>Work experience</h3>
        <p>
            Specialties : Brand Identity, Print and Packaging Design, Editorial Design, Illustration,
            Web Design  Motion Design, Typography, Linocut.
        </p>
        <ul>
            <li> <a href="#" class="linkedin">View on linkedin</a></li>
            <li><a href="#" class="pdfCv">pdf version</a></li>
        </ul>
    </div>
    <div class="medium-6 column">
        <div class="date first"><span>2014</span></div>
        <div class="experience">
            <div class="rectangle"></div>
            <div class="experienceLogo"><img src="{{ asset('uploads/brainsonic.jpg') }}" alt="braisonic_logo" /></div>
            <div class="experienceContent">
                <h3>Brainsonic (Apprenticeship)</h3>
                <p class="experienceType">Web and Graphic Designer</p>
                <p class="experienceDate">September 2013 – Today (1 year) Paris III, France</p>
            </div>
        </div>
        <div class="experience last">
            <div class="rectangle"></div>
            <div class="experienceLogo"><img src="{{ asset('uploads/brainsonic.jpg') }}" alt="braisonic_logo" /></div>
            <div class="experienceContent">
                <h3>Brainsonic (Apprenticeship)</h3>
                <p class="experienceType">Web and Graphic Designer</p>
                <p class="experienceDate">September 2013 – Today (1 year) Paris III, France</p>
            </div>
        </div>
        <div class="date"><span>2012</span></div>
        <div class="experience last">
            <div class="rectangle"></div>
            <div class="experienceLogo"><img src="{{ asset('uploads/brainsonic.jpg') }}" alt="braisonic_logo" /></div>
            <div class="experienceContent">
                <h3>Brainsonic (Apprenticeship)</h3>
                <p class="experienceType">Web and Graphic Designer</p>
                <p class="experienceDate">September 2013 – Today (1 year) Paris III, France</p>
            </div>
        </div>
        <div class="date last"><span>2011</span></div>
    </div>
</div>