{% extends '::baseAdmin.html.twig' %}

{% block content %}
    <h4>Ajout d'un parcours professionnelle</h4>
    {{ form(form) }}
    <a href="{{ path('workexperience') }}">Back to the list</a>
{% endblock %}
