{% extends '::baseAdmin.html.twig' %}

{% block content %}
    <h4>Modification de {{ entity.title }}</h4>
    {{ form(edit_form) }}
    <a href="{{ path('illustration') }}">
        Back to the list
    </a>
    {{ form(delete_form) }}
{% endblock %}