<div class="row">
    <h2>ILLUSTRATION</h2>
    <div class="large-6 columns">
        <div class="imageIllustration"
             style="background-image: url('/bundles/portfoliolaure/images/test/marin.jpg');">
        </div>
        <div class="infoIllustration">
            <h3>VECTOR</h3>
            <p>Marin d’eau douce</p>
        </div>
    </div>
    <div class="large-3 columns secondIllustration">
        <div class="imageIllustration"
             style="background-image: url('/bundles/portfoliolaure/images/test/Beetles_are_not_so_pretty.jpg');">
        </div>
        <div class="information">
            <h4>SERIE</h4>
            <p>Beetles are not so pretty</p>
            <p>Série d’illustrations format raisin au rothring noir 0,8 et 0,2 sur calque</p>
        </div>
    </div>
    <div class="large-3 end columns">
        <div class="imageIllustration"
             style="background-image: url('/bundles/portfoliolaure/images/test/joy.jpg');">
        </div>
    </div>
    <div class="large-3 end columns last">
        <div class="imageIllustration"
             style="background-image: url('/bundles/portfoliolaure/images/test/dame_mobile.jpg');">
        </div>
    </div>
    <div class="more medium-12 column">
        <a href="#" class="more-button">VIEW MORE PROJECTS</a>
    </div>
</div>