{% extends '::baseAdmin.html.twig' %}

{% block content %}
    <h4>Créer ton illustration</h4>

    {{ form(form) }}

    <a href="{{ path('illustration') }}">
        Back to the list
    </a>
{% endblock %}