{% extends '::baseAdmin.html.twig' %}

{% block content %}
    <h4>Ton introduction</h4>
    <table class="medium-12 columns">
        <thead>
            <tr>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.text|nl2br }}</td>
                    <td>
                        <a href="{{ path('aboutintro_edit', { 'id': entity.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ render(controller('PortfolioLaureBundle:AboutFeeling:index')) }}
{% endblock %}