{% extends '::baseAdmin.html.twig' %}

{% block content %}
    <h4>Modifie tonn introduction</h4>
    {{ form(edit_form) }}
    <a href="{{ path('workexperienceintro') }}">
        Back to the list
    </a>
{% endblock %}
