{% extends '::baseAdmin.html.twig' %}

{% block content %}
    <h1>WorkExperienceIntro list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.text }}</td>
                <td>
                    <a href="{{ path('workexperienceintro_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}