{% extends '::baseAdmin.html.twig' %}

{% block content -%}
    <h4>Modification de  {{ entity.name }}</h4>
    {{ form(edit_form) }}
    <a href="{{ path('aboutintro') }}">
        Back to the list
    </a>
    {{ form(delete_form) }}
{% endblock %}
